/* Global Styles */
:root {
  --white: hsl(0, 0%, 100%);
  --orange: hsl(15, 100%, 70%); /* work */
  --soft-blue: hsl(195, 74%, 62%); /* play */
  --pink: hsl(348, 100%, 68%); /* study */
  --lime-green: hsl(145, 58%, 55%); /* exercise */
  --violet: hsl(264, 64%, 52%); /* social */
  --soft-orange: hsl(43, 84%, 65%); /* self care */

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  --font-family: "Rubik", sans-serif;

  /* Font Weights */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
}

body {
  background-color: var(--very-dark-blue);
  margin-top: 1.87rem;
}

.hidden {
  display: none;
}

/* ********** Mobile Styles ********** */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91.81rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 86.75rem;
}

.full-header {
  width: 20.43rem;
  height: 12.68rem;
  margin-bottom: 0.62rem;
}

.mobile-employee {
  display: flex;
}

.desktop-employee {
  display: none;
}

.employee {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.43rem;
  height: 8.31rem;
  background: #5747ea;
  border-radius: 0.93rem;
}

.employee img {
  width: 4rem;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  background: #d8d8d8;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin-right: 1.25rem;
}

#employee-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
}

#employee-info h6 {
  align-self: flex-start;
  font-weight: var(--font-regular);
  font-style: normal;
  font-size: 0.93rem;
  line-height: 1.12rem;
  color: var(--pale-blue);
  height: 1.12rem;
}

#employee-info h2 {
  font-weight: var(--font-light);
  color: var(--white);
  font-size: 1.5rem;
  height: 1.12rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.37rem;
  background: #1c204b;
  border-bottom-left-radius: 0.93rem;
  border-bottom-right-radius: 0.93rem;
  position: relative;
  bottom: 0.6rem;
}

.nav ul {
  /* outline: red solid 2px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav li {
  /* outline: red solid 3px; */
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 1.12rem;
  width: 6.81rem;
}

.nav-links {
  /* outline: yellow solid 3px; */
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-light);
  font-size: 1.12rem;
  line-height: 1.31rem;
  color: #7078c9;
}

#second-nav {
  color: var(--white);
  padding-right: 0.75rem;
}

#third-nav {
  padding-right: 0.62rem;
}

/* ********** Hours' Containers ********** */

.hour-blocks {
  height: 10rem;
  margin-bottom: 1.5rem;
}

.colors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20.31rem;
  height: 4.37rem;
  background-color: var(--orange);
  border-top-left-radius: 0.93rem;
  border-top-right-radius: 0.93rem;
  z-index: -1;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.colors img {
  width: 4.87rem;
  height: 4.87rem;
  position: relative;
  bottom: 0.43rem;
  left: 7rem;
}

.hours {
  /* outline: rgb(120, 21, 38) solid 3px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.93rem;
  width: 20.43rem;
  height: 7.62rem;
  color: var(--white);
  background-color: var(--dark-blue);
  position: relative;
  right: 0.06rem;
  bottom: 3.12rem;
}

.flexbox-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17.43rem;
  height: 1.37rem;
  margin-bottom: 0.37rem;
}

.flexbox-1 h5 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: 1.12rem;
  line-height: 1.31rem;
  color: #ffffff;
}

.flexbox-2 {
  display: flex;
  justify-content: space-between;
  width: 17.43rem;
  height: 2.37rem;
}

.total-hours {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.37rem;
}

.prev-weeks-hours {
  display: flex;
  align-items: center;
  color: #bbc0ff;
}

.prev-weeks-hours h6 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 0.93rem;
  line-height: 1.12rem;
  text-align: right;
  color: #bbc0ff;
}

/* ********** Play Hours Container ********** */

#blue {
  background-color: var(--soft-blue);
}

/* ********** Study Hours Container ********** */

#pink {
  background-color: var(--pink);
}

/* ********** Exercise Hours Container ********** */

#green {
  background-color: var(--lime-green);
}

/* ********** Social Hours Container ********** */

#purple {
  background-color: var(--violet);
}

/* ********** Selfcare Hours Container ********** */

#yellow {
  background-color: var(--soft-orange);
}

/* ********** Desktop Media Query **********  */

@media (min-width: 1340px) {
  /* ChatGPT Added Code */
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent horizontal overflow */
  }

  .content-wrapper {
    height: 32.37rem;
    display: flex;
    flex-direction: row;
  }

  .full-header {
    /* outline: red solid 2px; */
    width: 15.93rem;
    height: 32.37rem;
    margin-left: 3.12rem;
  }

  .employee {
    /* outline: green solid 4px; */
    flex-direction: column;
    align-items: flex-start;
    width: 15.93rem;
    height: 22.12rem;
  }

  .employee img {
    align-self: flex-start;
    margin-left: 2rem;
  }

  #employee-info {
    width: 8.68rem;
    height: 7.25rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
  }

  .mobile-employee {
    display: none;
  }

  .desktop-employee {
    display: flex;
    margin-bottom: 1.75rem;
    height: 5.93rem;
  }

  #employee-info h6 {
    margin-top: 2.68rem;
  }

  #employee-info h2 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: var(--font-light);
    font-size: 2.5rem;
    line-height: 2.93rem;
    color: #ffffff;
    margin-bottom: 2.18rem;
  }

  .nav {
    justify-content: flex-start;
    height: 11.12rem;
    z-index: 1;
  }

  .nav ul {
    /* outline: red solid 2px; */
    display: flex;
    flex-direction: column;
    height: 6.62rem;
    width: 4.25rem;
    margin-left: 2rem;
  }

  .nav li {
    justify-content: flex-start;
  }

  #first-nav {
    margin-bottom: 0.93rem;
  }

  #first-nav:hover,
  #third-nav:hover {
    color: white;
  }

  #third-nav {
    margin-top: 0.93rem;
  }

  .overall-hours {
    /* outline: red solid 2px; */
    display: flex;
    flex-wrap: wrap;
    height: 35.18rem;
    width: 72.68rem;
    width: 55.68rem;
  }

  .hours {
    /* outline: blue solid 2px; */
    width: 15.93rem;
    height: 9.6rem;
    padding-bottom: 2.81rem;
  }

  .colors {
    width: 15.81rem;
  }

  .flexbox-1 {
    width: 11.87rem;
    height: 1.37rem;
    margin-right: 1.87rem;
    margin-bottom: 1.5rem;
  }

  /* #social-hours{} */

  .flexbox-2 {
    flex-direction: column;
    margin-left: 3.75rem;
  }

  .total-hours {
    /* outline: red solid 2px; */
    font-family: "Rubik";
    font-style: normal;
    font-weight: var(--font-light);
    font-size: 3.5rem;
    line-height: 4.12rem;
    width: 10rem;
    margin-bottom: 0.5rem;
  }

  #block-one,
  #block-four {
    margin: 0 1.87rem 1.87rem 1.87rem;
  }

  #block-two {
    margin: 0 1.87rem 1.87rem 0;
  }

  #block-five {
    margin: 0 1.87rem 0 0;
  }
}
